{% extends "main.html" %}

{% block title %} Beginner Learning {% endblock %}

{% block content%}
<div class="lettersList">
  <h2> Letters </h2>
  <ul>
    {% for letter in "abcdefghijklmnopqrstuvwxyz" %}
      <li><button id="letter{{ letter }}" onclick="handleLetter(this)" data-letter="{{ letter }}"> &nbsp; {{ letter }} &nbsp; </button></li>
    {% endfor %}
  </ul>

  <form action="{% url 'letters' %}" id="letterForm" method="post">
    {% csrf_token %}
    <input type="hidden" name="letter">
  </form>
</div>

<script>
  function handleLetter(aTag) {
    document.forms['letterForm'].elements['letter'].value = aTag.dataset.letter;
    document.getElementById('letterForm').submit();
  }
</script>
{% endblock %}