<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% block head %} {% endblock %}
</head>
<body>
    <div>
        <a href="{% url 'home' %}" style="text-decoration: none; color: #000000"><h1 style="display: inline;" >SLATE</h1></a>
        <a href="{% url 'home' %}">HOME</a>  |
        <a href="{% url 'profile' %}">PROFILE</a> |
        <a href="{% url 'learn' %}">LEARN</a> |
        <a href="{% url 'games' %}">GAMES</a> |
        <a href="{% url 'practice' %}">PRACTICE</a> |
        <hr>
    </div>
    <br>
    {% block content %}
    {% endblock %}
</body>
</html>